*{
    padding: 0;
    margin: 0;
}
.pic{
    width: 40%;
    height: 300px;
    margin-left: 370px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: #ffff;
}
.name{
    padding: 5px;
    margin-left: 540px;
    margin-bottom: -5px;
}
.identy{
    padding: 5px;
    margin-left: 580px;
}
.about{
    width: 8%;
    font-family: cursive;
    border-bottom: 2px dotted black;
    margin-left: 40px;
    margin-bottom: 10px;
}
.exparaiance{
    width: 90%;
    margin-left: 40px;
    background-color: antiquewhite;
    padding: 20px;
    border: 10px solid grey;
}
ul{
    width: 27%;
    padding: 15px;
    margin-left: 430px;
    margin-top: 15px;
    background-color: palevioletred;
    border: 2px solid yellowgreen;
    border-radius: 8px;
    list-style: none;
}
h4{
    width: 11%;
    border-bottom: 2px solid pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.image{
    width: 21%;
    height: 195px;
    margin-top: 15px;
    margin-left: 45px;
    border-radius: 8px;
}
h1{
    font-size: 16px;
}